# Unix - Conda - Pip

We run commands in CLI, e.g., TerMynal, but here we are using Jupyter Notebook to demonstrate:

1. Output from commands
2. That when experiementing or developing programs in the notebook, you can avoid switching tools.
3. That you can install pacakges in the beginning of the notebook (e.g., Sagemaker) so it's clear what packages are used.

## Unix commands

### Basics

For some of the basic commands, you can run use the cell to run it directly:

In [1]:
pwd # print working directory

'/Users/flora/fourthBrain/MLE-dev/mle-basictools-dev/nb'

#### My Work Dec/09/2022

In [1]:
# My Work Dec/09/2022
pwd

'/Users/francisco/Cloud/MyWork/code/fourthBrainAI/ml-engineer-program-11-work/week-01-mle-basictools/nb'

You always want to know "where you are" and how to look for help. Use `man` to display the user manual of any command that we can run on the terMynal.

In [2]:
man pwd # press ESC to exit

Further, cell magic `%%bash` turns a cell into a bash script where you can run multiple lines (See more cell/line magics [here](https://ipython.readthedocs.io/en/stable/interactive/magics.html)).

In [3]:
%%bash
pwd
ls -lah # WE DO: What are those flags for?

/Users/flora/fourthBrain/MLE-dev/mle-basictools-dev/nb
total 80
drwxr-xr-x  4 flora  staff   128B Apr 25 19:58 .
drwxr-xr-x  9 flora  staff   288B Apr 25 19:58 ..
drwxr-xr-x  3 flora  staff    96B Apr 25 17:53 .ipynb_checkpoints
-rw-r--r--  1 flora  staff    37K Apr 25 19:58 unix-conda-pip.ipynb

#### My Work Dec/09/2022

In [2]:
# My Work Dec/09/2022
%%bash
pwd
ls -lah

/Users/francisco/Cloud/MyWork/code/fourthBrainAI/ml-engineer-program-11-work/week-01-mle-basictools/nb
total 80
drwxr-xr-x  4 francisco  staff   128B Dec  8 14:04 .
drwxr-xr-x  5 francisco  staff   160B Dec  8 14:03 ..
drwxr-xr-x  2 francisco  staff    64B Dec  8 14:04 .ipynb_checkpoints
-rw-r--r--  1 francisco  staff    37K Dec  8 14:02 unix-conda-pip.ipynb

Number     	    PerMyssion Type         	   Symbol
  0         	    No PerMyssion           	    —
  1         	    Execute                 	    –x
  2         	    Write                   	    -w-
  3         	    Execute + Write         	    -wx
  4         	    Read                   	     r–
  5         	    Read + Execute         	     r-x
  6         	    Read + Write             	    rw-
  7         	    Read + Write + Execute   	    rwx

### Download a data file

Let's download some data from [Census Income Data Set](https://archive.ics.uci.edu/ml/datasets/Census+Income); but first we would like to make a new directory to store the data at the same level as `nb` directory.

In [4]:
%%bash
cd ..
# WE DO: make a new diretory called `dat` under the project root directory

#### My Work Dec/09/2022

In [7]:
# My Work Dec/09/2022
%%bash
cd ..
mkdir dat

Let's confirm that we just created an empty directory `dat` using command `tree`. Not all command can be run in the cell directly, adding ! in front of command can do the trick:

In [5]:
!tree .. -L 2

..
├── LICENSE
├── README.md
├── dat
├── md
│   └── git-more.md
└── nb
    └── unix-conda-pip.ipynb

3 directories, 4 files

#### My Work Dec/09/2022

In [9]:
# My Work Dec/09/2022
!tree .. -L 2 # Tree is not available in MAC by default, and need to be installed using BREW with the following command: brew install tree

..
├── dat
├── md
│   └── git-more.md
├── nb
│   └── unix-conda-pip.ipynb
└── pandas-sklearn-basics
    └── pandas-sklearn-basics.ipynb

4 directories, 3 files

In [6]:
# download a csv file
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data -O ../dat/adult.csv

--2022-04-25 20:02:57--  https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3974305 (3.8M) [application/x-httpd-php]
Saving to: ‘../dat/adult.csv’

../dat/adult.csv    100%[===================>]   3.79M  1.80MB/s    in 2.1s

2022-04-25 20:02:59 (1.80 MB/s) - ‘../dat/adult.csv’ saved [3974305/3974305]

#### My Work Dec/09/2022

In [10]:
# My Work Dec/09/2022
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data -O ../dat/adult.csv # wget is not available in MAC by default, and need to be installed using BREW with the following command: brew install wget

--2022-12-08 14:16:13--  https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3974305 (3.8M) [application/x-httpd-php]
Saving to: ‘../dat/adult.csv’

../dat/adult.csv    100%[===================>]   3.79M  24.4MB/s    in 0.2s

2022-12-08 14:16:13 (24.4 MB/s) - ‘../dat/adult.csv’ saved [3974305/3974305]

In [7]:
!tree .. -L 2 # check again

..
├── LICENSE
├── README.md
├── dat
│   └── adult.csv
├── md
│   └── git-more.md
└── nb
    └── unix-conda-pip.ipynb

3 directories, 5 files

#### My Work Dec/09/2022

In [11]:
# My Work Dec/09/2022
!tree .. -L 2

..
├── dat
│   └── adult.csv
├── md
│   └── git-more.md
├── nb
│   └── unix-conda-pip.ipynb
└── pandas-sklearn-basics
    └── pandas-sklearn-basics.ipynb

4 directories, 4 files

### Inspect data

Let's inspect first 10 lines of data:

In [8]:
!head ../dat/adult.csv

39, State-gov, 77516, Bachelors, 13, Never-married, Adm-clerical, Not-in-family, White, Male, 2174, 0, 40, United-States, <=50K
50, Self-emp-not-inc, 83311, Bachelors, 13, Married-civ-spouse, Exec-managerial, Husband, White, Male, 0, 0, 13, United-States, <=50K
38, Private, 215646, HS-grad, 9, Divorced, Handlers-cleaners, Not-in-family, White, Male, 0, 0, 40, United-States, <=50K
53, Private, 234721, 11th, 7, Married-civ-spouse, Handlers-cleaners, Husband, Black, Male, 0, 0, 40, United-States, <=50K
28, Private, 338409, Bachelors, 13, Married-civ-spouse, Prof-specialty, Wife, Black, Female, 0, 0, 40, Cuba, <=50K
37, Private, 284582, Masters, 14, Married-civ-spouse, Exec-managerial, Wife, White, Female, 0, 0, 40, United-States, <=50K
49, Private, 160187, 9th, 5, Married-spouse-absent, Other-service, Not-in-family, Black, Female, 0, 0, 16, Jamaica, <=50K
52, Self-emp-not-inc, 209642, HS-grad, 9, Married-civ-spouse, Exec-managerial, Husband, White, Male, 0, 0, 45, United-States, >50K
31, Private, 45781, Masters, 14, Never-married, Prof-specialty, Not-in-family, White, Female, 14084, 0, 50, United-States, >50K
42, Private, 159449, Bachelors, 13, Married-civ-spouse, Exec-managerial, Husband, White, Male, 5178, 0, 40, United-States, >50K

#### My Work Dec/09/2022

In [12]:
# My Work Dec/09/2022
!head ../dat/adult.csv # The first 10 records

39, State-gov, 77516, Bachelors, 13, Never-married, Adm-clerical, Not-in-family, White, Male, 2174, 0, 40, United-States, <=50K
50, Self-emp-not-inc, 83311, Bachelors, 13, Married-civ-spouse, Exec-managerial, Husband, White, Male, 0, 0, 13, United-States, <=50K
38, Private, 215646, HS-grad, 9, Divorced, Handlers-cleaners, Not-in-family, White, Male, 0, 0, 40, United-States, <=50K
53, Private, 234721, 11th, 7, Married-civ-spouse, Handlers-cleaners, Husband, Black, Male, 0, 0, 40, United-States, <=50K
28, Private, 338409, Bachelors, 13, Married-civ-spouse, Prof-specialty, Wife, Black, Female, 0, 0, 40, Cuba, <=50K
37, Private, 284582, Masters, 14, Married-civ-spouse, Exec-managerial, Wife, White, Female, 0, 0, 40, United-States, <=50K
49, Private, 160187, 9th, 5, Married-spouse-absent, Other-service, Not-in-family, Black, Female, 0, 0, 16, Jamaica, <=50K
52, Self-emp-not-inc, 209642, HS-grad, 9, Married-civ-spouse, Exec-managerial, Husband, White, Male, 0, 0, 45, United-States, >50K
31, Private, 45781, Masters, 14, Never-married, Prof-specialty, Not-in-family, White, Female, 14084, 0, 50, United-States, >50K
42, Private, 159449, Bachelors, 13, Married-civ-spouse, Exec-managerial, Husband, White, Male, 5178, 0, 40, United-States, >50K

How about the last 3 lines? ( wait, I only see 2 lines. what's wrong? )

In [9]:
!tail -n 3 ../dat/adult.csv

22, Private, 201490, HS-grad, 9, Never-married, Adm-clerical, Own-child, White, Male, 0, 0, 20, United-States, <=50K
52, Self-emp-inc, 287927, HS-grad, 9, Married-civ-spouse, Exec-managerial, Wife, White, Female, 15024, 0, 40, United-States, >50K

#### My Work Dec/09/2022

In [13]:
# My Work Dec/09/2022
!tail -n 3 ../dat/adult.csv # The last two records

22, Private, 201490, HS-grad, 9, Never-married, Adm-clerical, Own-child, White, Male, 0, 0, 20, United-States, <=50K
52, Self-emp-inc, 287927, HS-grad, 9, Married-civ-spouse, Exec-managerial, Wife, White, Female, 15024, 0, 40, United-States, >50K

How many records are there?

In [10]:
!wc -l ../dat/adult.csv

   32562 ../dat/adult.csv

#### My Work Dec/09/2022

In [3]:
# My Work Dec/08/2022
!wc ../dat/adult.csv # To get count information on a file use the wc command with no options. The output is number of lines, number of words, number of bytes, filename.
!wc -m ../dat/adult.csv # To print the number of characters in a file use the -m option.
!wc -w ../dat/adult.csv  # To print the number of words in a file use the -w option.
!wc -l ../dat/adult.csv  # To print the number of lines in a file (or more specifically newline counts) use the -l option.

   32562  488415 3974305 ../dat/adult.csv
 3974305 ../dat/adult.csv
  488415 ../dat/adult.csv
   32562 ../dat/adult.csv

Challenge: how many columns are there?

In [11]:
!head -1 ../dat/adult.csv | sed 's/[^,]//g' | wc -c

      15

#### My Work Dec/09/2022

In [4]:
# My Work Dec/09/2022
!head -1 ../dat/adult.csv | sed 's/[^,]//g' # The Stream EDitor (Sed), finds every coma in the first line,

,,,,,,,,,,,,,,

In [16]:
# My Work Dec/09/2022
!head -1 ../dat/adult.csv | sed 's/[^,]//g' | wc -c # The Stream EDitor (Sed), finds every coma in the first line, then wc counts the number of comas

      15

## Conda: environment manager + package manager

You Myght have heard about Anaconda / Myniconda / Myniforge:

- What is the difference between `conda` and `Myniconda`? [An answer](https://stackoverflow.com/questions/45421163/anaconda-vs-Myniconda).
- What is the difference between `Myniconda` and `Myniforge`? [An answer](https://stackoverflow.com/questions/60532678/what-is-the-difference-between-Myniconda-and-Myniforge).

Though Conda is considered both a package manager and an environment manager, we  focus on using it as the environment manager, and use `pip` as the package manager.

### Installation

First, install `Myniconda` (Feel free to skip if you have already installed it, or any flavor of conda).

Run the following commands in terMynal to download the lastest Myniconda distribution and install it (Mac Intel Book). 

    ```
    cd ~
    wget https://repo.anaconda.com/Myniconda/Myniconda3-latest-MacOSX-x86_64.sh
    bash Myniconda3-latest-MacOSX-x86_64.sh
    ```

For M1 chip, install `Myniforge` instead. If you are new to `brew`, following instructions [here](https://brew.sh) to install Homebrew first:

    ```
    brew install Myniforge
    ```

Outputs from these installations are rather long, so we ask you to run it in a terMynal window instead.

Confirm that the installation is successful:

In [1]:
%%bash
which conda  # where the executable conda is in my path?
conda -V     # which version of conda?
which python # where the executable python is in my path?
python -V    # what version of python?

/usr/local/Caskroom/miniforge/base/bin/conda
conda 4.12.0
/usr/local/Caskroom/miniforge/base/bin/python
Python 3.9.10

#### My Work Dec/09/2022

In [19]:
# My Work Dec/09/2022
%%bash
which conda # Myniconda is installed in my OPT folder where all the application in a MAC are stored
conda -V
which python # My conda environment is using pyton form the Myniconda installation
python -V

/opt/miniconda3/bin/conda
conda 4.12.0
/opt/miniconda3/envs/mle-course/bin/python
Python 3.8.15

### Create a new env

Create a new conda environment named `py39_12` where you specify a python version to be 3.9.12. Note the last flag `--yes` to skip the confirmation prompt.

In [2]:
!conda create --name py39_12 python=3.9.12 --yes

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /usr/local/Caskroom/miniforge/base/envs/py39_12

  added / updated specs:
    - python=3.9.12


The following NEW packages will be INSTALLED:

  bzip2              conda-forge/osx-64::bzip2-1.0.8-h0d85af4_4
  ca-certificates    conda-forge/osx-64::ca-certificates-2021.10.8-h033912b_0
  libffi             conda-forge/osx-64::libffi-3.4.2-h0d85af4_5
  libzlib            conda-forge/osx-64::libzlib-1.2.11-h6c3fc93_1014
  ncurses            conda-forge/osx-64::ncurses-6.3-h96cf925_1
  openssl            conda-forge/osx-64::openssl-3.0.2-h6c3fc93_1
  pip                conda-forge/noarch::pip-22.0.4-pyhd8ed1ab_0
  python             conda-forge/osx-64::python-3.9.12-h1cc4136_1_cpython
  python_abi         conda-forge/osx-64::python_abi-3.9-2_cp39
  readline           conda-forge/osx-64::readline-8.1-h05e3726_0
  setuptools         conda-forge/osx-64::setuptools-62.1.0-py39h6e9494a_0
  sqlite             conda-forge/osx-64::sqlite-3.38.2-hb516253_0
  tk                 conda-forge/osx-64::tk-8.6.12-h5dbffcc_0
  tzdata             conda-forge/noarch::tzdata-2022a-h191b570_0
  wheel              conda-forge/noarch::wheel-0.37.1-pyhd8ed1ab_0
  xz                 conda-forge/osx-64::xz-5.2.5-haf1e3a3_1
  zlib               conda-forge/osx-64::zlib-1.2.11-h6c3fc93_1014


Preparing transaction: done
Verifying transaction: done
Executing transaction: done
#
# To activate this environment, use
#
#     $ conda activate py39_12
#
# To deactivate an active environment, use
#
#     $ conda deactivate

#### My Work Dec/09/2022

In [3]:
# My Work Dec/09/2022
!conda create --name py39_12 python=3.9.12 --yes

Collecting package metadata (current_repodata.json): done
Solving environment: failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.12.0
  latest version: 22.11.1

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /opt/miniconda3/envs/py39_12

  added / updated specs:
    - python=3.9.12


The following NEW packages will be INSTALLED:

  ca-certificates    pkgs/main/osx-arm64::ca-certificates-2022.10.11-hca03da5_0
  certifi            pkgs/main/osx-arm64::certifi-2022.9.24-py39hca03da5_0
  libcxx             pkgs/main/osx-arm64::libcxx-14.0.6-h848a8c0_0
  libffi             pkgs/main/osx-arm64::libffi-3.4.2-hca03da5_6
  ncurses            pkgs/main/osx-arm64::ncurses-6.3-h1a28f6b_3
  openssl            pkgs/main/osx-arm64::openssl-1.1.1s-h1a28f6b_0
  pip                pkgs/main/osx-arm64::pip-22.2.2-py39hca03da5_0
  python             pkgs/main/osx-arm64::python-3.9.12-hbdb9e5c_1
  readline           pkgs/main/osx-arm64::readline-8.2-h1a28f6b_0
  setuptools         pkgs/main/osx-arm64::setuptools-65.5.0-py39hca03da5_0
  sqlite             pkgs/main/osx-arm64::sqlite-3.40.0-h7a7dc30_0
  tk                 pkgs/main/osx-arm64::tk-8.6.12-hb8d0fd4_0
  tzdata             pkgs/main/noarch::tzdata-2022g-h04d1e81_0
  wheel              pkgs/main/noarch::wheel-0.37.1-pyhd3eb1b0_0
  xz                 pkgs/main/osx-arm64::xz-5.2.8-h80987f9_0
  zlib               pkgs/main/osx-arm64::zlib-1.2.13-h5a0b063_0


Preparing transaction: done
Verifying transaction: done
Executing transaction: done
#
# To activate this environment, use
#
#     $ conda activate py39_12
#
# To deactivate an active environment, use
#
#     $ conda deactivate

#### My Work Dec/09/2022
I noticed from the previous line my a new version of conda was available, and I updated conda here.

In [6]:
!conda update -n base -c defaults conda --y

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/miniconda3

  added / updated specs:
    - conda


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    cffi-1.15.1                |   py39h80987f9_3         231 KB
    conda-22.11.1              |   py39hca03da5_3         928 KB
    conda-package-handling-1.9.0|   py39h1a28f6b_1         1.4 MB
    cryptography-38.0.1        |   py39h834c97f_0         1.0 MB
    idna-3.4                   |   py39hca03da5_0          94 KB
    pluggy-1.0.0               |   py39hca03da5_1          26 KB
    pycosat-0.6.4              |   py39h1a28f6b_0          84 KB
    requests-2.28.1            |   py39hca03da5_0          93 KB
    ruamel.yaml-0.17.21        |   py39h1a28f6b_0         178 KB
    ruamel.yaml.clib-0.2.6     |   py39h1a28f6b_1         116 KB
    toolz-0.12.0               |   py39hca03da5_0         106 KB
    tqdm-4.64.1                |   py39hca03da5_0         126 KB
    urllib3-1.26.13            |   py39hca03da5_0         197 KB
    ------------------------------------------------------------
                                           Total:         4.6 MB

The following NEW packages will be INSTALLED:

  pluggy             pkgs/main/osx-arm64::pluggy-1.0.0-py39hca03da5_1
  ruamel.yaml        pkgs/main/osx-arm64::ruamel.yaml-0.17.21-py39h1a28f6b_0
  ruamel.yaml.clib   pkgs/main/osx-arm64::ruamel.yaml.clib-0.2.6-py39h1a28f6b_1
  toolz              pkgs/main/osx-arm64::toolz-0.12.0-py39hca03da5_0

The following packages will be REMOVED:

  conda-content-trust-0.1.1-pyhd3eb1b0_0
  pip-21.2.4-py39hca03da5_0
  ruamel_yaml-0.15.100-py39h1a28f6b_0
  six-1.16.0-pyhd3eb1b0_1
  wheel-0.37.1-pyhd3eb1b0_0
  yaml-0.2.5-h1a28f6b_0

The following packages will be UPDATED:

  ca-certificates                      2022.4.26-hca03da5_0 --> 2022.10.11-hca03da5_0
  certifi                        2022.5.18.1-py39hca03da5_0 --> 2022.9.24-py39hca03da5_0
  cffi                                1.15.0-py39h22df2f2_1 --> 1.15.1-py39h80987f9_3
  conda                               4.12.0-py39hca03da5_0 --> 22.11.1-py39hca03da5_3
  conda-package-han~                   1.8.1-py39h1a28f6b_0 --> 1.9.0-py39h1a28f6b_1
  cryptography                        37.0.1-py39h834c97f_0 --> 38.0.1-py39h834c97f_0
  idna               pkgs/main/noarch::idna-3.3-pyhd3eb1b0~ --> pkgs/main/osx-arm64::idna-3.4-py39hca03da5_0
  libcxx                                  12.0.0-hf6beb65_1 --> 14.0.6-h848a8c0_0
  libffi                                   3.4.2-hc377ac9_2 --> 3.4.2-hca03da5_6
  ncurses                                    6.3-h1a28f6b_2 --> 6.3-h1a28f6b_3
  openssl                                 1.1.1o-h1a28f6b_0 --> 1.1.1s-h1a28f6b_0
  pycosat                              0.6.3-py39h1a28f6b_0 --> 0.6.4-py39h1a28f6b_0
  readline                                 8.1.2-h1a28f6b_1 --> 8.2-h1a28f6b_0
  requests           pkgs/main/noarch::requests-2.27.1-pyh~ --> pkgs/main/osx-arm64::requests-2.28.1-py39hca03da5_0
  setuptools                          61.2.0-py39hca03da5_0 --> 65.5.0-py39hca03da5_0
  sqlite                                  3.38.3-h1058600_0 --> 3.40.0-h7a7dc30_0
  tk                                      8.6.11-hb8d0fd4_1 --> 8.6.12-hb8d0fd4_0
  tqdm                                4.64.0-py39hca03da5_0 --> 4.64.1-py39hca03da5_0
  tzdata                                   2022a-hda174b7_0 --> 2022g-h04d1e81_0
  urllib3                             1.26.9-py39hca03da5_0 --> 1.26.13-py39hca03da5_0
  xz                                       5.2.5-h1a28f6b_1 --> 5.2.8-h80987f9_0
  zlib                                    1.2.12-h5a0b063_2 --> 1.2.13-h5a0b063_0



Downloading and Extracting Packages
cryptography-38.0.1  | 1.0 MB    | ##################################### | 100%
conda-22.11.1        | 928 KB    | ##################################### | 100%
pluggy-1.0.0         | 26 KB     | ##################################### | 100%
toolz-0.12.0         | 106 KB    | ##################################### | 100%
ruamel.yaml-0.17.21  | 178 KB    | ##################################### | 100%
conda-package-handli | 1.4 MB    | ##################################### | 100%
tqdm-4.64.1          | 126 KB    | ##################################### | 100%
cffi-1.15.1          | 231 KB    | ##################################### | 100%
ruamel.yaml.clib-0.2 | 116 KB    | ##################################### | 100%
requests-2.28.1      | 93 KB     | ##################################### | 100%
pycosat-0.6.4        | 84 KB     | ##################################### | 100%
idna-3.4             | 94 KB     | ##################################### | 100%
urllib3-1.26.13      | 197 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [ ]:
# YOU CODE HERE 
# list all environments in conda

You shall see something like this:
```
# conda environments:
#
                         /Users/flora/Myniforge3
                         /Users/flora/Myniforge3/envs/tf38
base                  *  /usr/local/Caskroom/Myniforge/base
py39                     /usr/local/Caskroom/Myniforge/base/envs/py39
py39_12                  /usr/local/Caskroom/Myniforge/base/envs/py39_12
```

#### My Work Dec/09/2022

In [2]:
# My Work Dec/09/2022
%conda env list

# conda environments:
#
base                  *  /opt/miniconda3
mle-course               /opt/miniconda3/envs/mle-course
py39_12                  /opt/miniconda3/envs/py39_12


Note: you may need to restart the kernel to use updated packages.

### Activate an env

By default, you are under the `base` environment, to activate the new environement, run `conda activate py39_12` in terMynal.

If you are using VS code, click on the top right button to switch python kernel. You will be prompted to install `ipykernel`, follow the instructions to install the package. Or you can run `source activate`, followed by 
`conda activate /usr/local/Caskroom/Myniforge/base/envs/py39_12` in a cell. 

If you are using jupyter notebook on a localhost (by defaut 8888), you can restart the jupyter notebook after activating the new environment.

Now verify the python version:

In [1]:
%%bash

python --version
which python
conda env list

Python 3.9.12
/usr/local/Caskroom/miniforge/base/envs/py39_12/bin/python
# conda environments:
#
                         /Users/flora/miniforge3
                         /Users/flora/miniforge3/envs/tf38
base                     /usr/local/Caskroom/miniforge/base
py39                     /usr/local/Caskroom/miniforge/base/envs/py39
py39_12               *  /usr/local/Caskroom/miniforge/base/envs/py39_12

#### My Work Dec/09/2022

In [1]:
%%bash

python --version # Python version changed from 3.815 to 3.9.12
which python # Python now is provided by the new env py39_12
conda env list

Python 3.9.12
/opt/miniconda3/bin/python
# conda environments:
#
base                  *  /opt/miniconda3
mle-course               /opt/miniconda3/envs/mle-course
py39_12                  /opt/miniconda3/envs/py39_12

<details>
<summary>Click to see how to add the Conda env to you jupyter notebook kernels</summary>

```
pip install ipykernel
python -m ipykernel install --user --name=py39_12
```

Next time you launch jupyter notebook, you will see `py39_12` as an option under Kernel/Change kernel.
</details>

### Delete an env

To keep a lean list of environments, we want to prune unused environements from time to time. Simply do the following
```
conda remove --name old_env --all --yes
```

## Pip: python package manager

We recommend to use pip as your python package installer/manager [(fun read on pip vs conda.)](https://stackoverflow.com/questions/20994716/what-is-the-difference-between-pip-and-conda) Note you don't have install pip explictly since it was done during the installation of Myniconda/Myniforge.

In [2]:
!which pip

/usr/local/Caskroom/miniforge/base/envs/py39_12/bin/pip

#### My Work Dec/09/2022

In [2]:
# My Work Dec/09/2022
!which pip

/opt/miniconda3/envs/py39_12/bin/pip

### Install package

We can certainly run `pip` commands the same way as earlier. Just for fun, let's try Jupyter line magic `%pip`. 

First make sure that we would like to have the most recent version of `pip` installed.

In [3]:
%pip install --upgrade pip

Requirement already satisfied: pip in /Users/flora/miniforge3/envs/tf38/lib/python3.8/site-packages (22.0.4)
Note: you may need to restart the kernel to use updated packages.

#### My Work Dec/09/2022

In [3]:
# My Work Dec/09/2022
%pip install --upgrade pip

Requirement already satisfied: pip in /opt/miniconda3/envs/py39_12/lib/python3.9/site-packages (22.2.2)
Collecting pip
  Downloading pip-22.3.1-py3-none-any.whl (2.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 20.1 MB/s eta 0:00:00a 0:00:01
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 22.2.2
    Uninstalling pip-22.2.2:
      Successfully uninstalled pip-22.2.2
Successfully installed pip-22.3.1
Note: you may need to restart the kernel to use updated packages.

In [4]:
%pip install numpy pandas

Collecting numpy
  Downloading numpy-1.22.3-cp38-cp38-macosx_11_0_arm64.whl (12.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.7/12.7 MB 6.3 MB/s eta 0:00:0000:0100:01
Collecting pandas
  Downloading pandas-1.4.2-cp38-cp38-macosx_11_0_arm64.whl (9.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.9/9.9 MB 6.1 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: pytz>=2020.1 in /Users/flora/miniforge3/envs/tf38/lib/python3.8/site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/flora/miniforge3/envs/tf38/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/flora/miniforge3/envs/tf38/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.15.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.22.3 pandas-1.4.2
Note: you may need to restart the kernel to use updated packages.

#### My Work Dec/09/2022

In [4]:
# My Work Dec/09/2022
%pip install numpy pandas

Collecting numpy
  Downloading numpy-1.23.5-cp39-cp39-macosx_11_0_arm64.whl (13.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.4/13.4 MB 53.4 MB/s eta 0:00:0000:0100:01
Collecting pandas
  Downloading pandas-1.5.2-cp39-cp39-macosx_11_0_arm64.whl (10.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.9/10.9 MB 63.6 MB/s eta 0:00:00 0:00:01
Collecting pytz>=2020.1
  Using cached pytz-2022.6-py2.py3-none-any.whl (498 kB)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/miniconda3/envs/py39_12/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/miniconda3/envs/py39_12/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.23.5 pandas-1.5.2 pytz-2022.6
Note: you may need to restart the kernel to use updated packages.

Now you can use these packages:

In [5]:
# allow multiple outputs in a single cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

#### My Work Dec/09/2022

In [5]:
# My Work Dec/09/2022
# allow multiple outputs in a single cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [6]:
import numpy as np

# create a numpy array with random numbers
x = np.random.rand(10)
x.shape
x.reshape((5,-1))

(10,)

array([[0.15262921, 0.20542714],
       [0.85639941, 0.40354599],
       [0.82041447, 0.26201809],
       [0.95302924, 0.6048792 ],
       [0.69656462, 0.69920595]])

#### My Work Dec/09/2022

In [6]:
# My Work Dec/09/2022
import numpy as np

# create a numpy array with random numbers
x = np.random.rand(10)
x.shape
x.reshape((5,-1))

(10,)

array([[0.87924293, 0.35927255],
       [0.46296651, 0.37894112],
       [0.94225104, 0.46371773],
       [0.47602353, 0.37129537],
       [0.02997246, 0.73439002]])

In [7]:
%precision 3
x.reshape((5,-1))

'%.3f'

array([[0.153, 0.205],
       [0.856, 0.404],
       [0.82 , 0.262],
       [0.953, 0.605],
       [0.697, 0.699]])

#### My Work Dec/09/2022

In [7]:
# My Work Dec/09/2022
%precision 3
x.reshape((5,-1))

'%.3f'

array([[0.879, 0.359],
       [0.463, 0.379],
       [0.942, 0.464],
       [0.476, 0.371],
       [0.03 , 0.734]])

In [8]:
import pandas as pd
census_df = pd.read_csv(filepath_or_buffer='../dat/adult.csv', header = None)
census_df.head()
census_df.tail()
census_df.shape

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

(32561, 15)

#### My Work Dec/09/2022

In [8]:
# My Work Dec/09/2022
import pandas as pd
census_df = pd.read_csv(filepath_or_buffer='../dat/adult.csv', header = None)
census_df.head()
census_df.tail()
census_df.shape

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

(32561, 15)

### Uninstall packages

In [9]:
# Uninstall a package
%pip uninstall numpy pandas --yes

Found existing installation: numpy 1.22.3
Uninstalling numpy-1.22.3:
  Successfully uninstalled numpy-1.22.3
Found existing installation: pandas 1.4.2
Uninstalling pandas-1.4.2:
  Successfully uninstalled pandas-1.4.2
Note: you may need to restart the kernel to use updated packages.

#### My Work Dec/09/2022

In [9]:
# My Work Dec/09/2022
%pip uninstall numpy pandas --yes

Found existing installation: numpy 1.23.5
Uninstalling numpy-1.23.5:
  Successfully uninstalled numpy-1.23.5
Found existing installation: pandas 1.5.2
Uninstalling pandas-1.5.2:
  Successfully uninstalled pandas-1.5.2
Note: you may need to restart the kernel to use updated packages.

In [10]:
%pip cache purge

Files removed: 5
Note: you may need to restart the kernel to use updated packages.

#### My Work Dec/09/2022

In [10]:
# My Work Dec/09/2022
%pip cache purge

Files removed: 211
Note: you may need to restart the kernel to use updated packages.